
/* -----------------------------------------GENERAL ---------------------------------------------------*/

body {
    font-family: Arial, verdana, sans-serif;
    width: auto;
    overflow-x:hidden;     
}

p {
    font-size: 14px;
}

a {                                     /*Links*/   
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:visited {                         
    color: inherit;
}

h1, h2 {                                /* Titles font-size*/            
    font-size: 18px; 
    margin: 0;   
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    font-weight: bold;
}
ul {                                /* lists style*/
    list-style: none;
}
li {
    font-size: 14px;
}
 /* -----------------------------------------HEADER---------------------------------------------------*/
header {
    height: 100px;
    padding: 0 20px;
}

a#top #logo {
    float: left;
    height: 50px;
    margin-top: 25px;
}

nav, ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

#top_nav li {                   /*menu font */
    padding: 20px 24px 0 24px;
    font-size: 14px;
}

nav .subscription {
    color:  #0065FC;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 24px 0 24px;
    
}
.subscription:hover  {             /*add blue line on top of the link + text in blue*/                  
    border-top: 2px #0065FC solid;
    color:  #0065FC;
}

#top_nav li:hover {             /*add blue line on top of the link + text in blue*/                  
    border-top: 2px #0065FC solid;
    color:  #0065FC;
    
}

    /* ------------------------------------Search section----------------------------------------- */
main {
    padding-left: 20px;
}

#search_intro {                    /*search title*/
    height: 50px;
    line-height: 1;
    padding: 20px 0;
}

#search_field {                   /*search field*/
    height: 50px;
    display: flex;
    align-items: center;
    
}

#search_field i {               /*search field icon*/
    height: 50px;
    width: 50px;
    /*centered icon*/
    display: flex;  
    align-items: center;
    justify-content: center;   
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px; 
}

.search_entryField {             /*search entry field*/
    width: 236px;
    height: 50px;
    font-size: 14px;           
    font-weight: bold;
    padding-left: 10px;
    border: 2px #F2F2F2 solid;  
}

.search_btn {                       /*search button*/
    width: 125px;
    height: 50px;
    font-size: 14px;                
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
}

#search_filters {                   /*Search Filters*/
    width: 940px;
    height: 50px;
    margin-top: 30px;
    display: flex;
}

#search_filters h3 {                /* Filters title*/
    padding: 4px 0 0 10px;
}

#search_filtersList {           /*Search filters full list */
    height: 50px;
    margin-top: 0px;
    display: flex;
   
}

#search_filtersList li {        /*individual chip --icon --text*/
    height: 50px;
    margin-right: 24px;
    display: flex;
    border: 2px #F2F2F2 solid; 
    border-radius: 45px;
}

#search_filtersList i {        /*Filters icons*/ 
    width: 50px;
    height: 50px;
    display: flex;           
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065FC;                                                                                          
    border-radius: 45px;
}

#search_filtersList h3 {        /*filters text*/
    padding: 2px 14px 0 14px;
}

#search_filtersList li:hover {  /*turn filter BG in blue and text in white*/
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
}

#search_info {                  /*Search info*/
    height: 25px;
    display: flex;
    align-items: baseline;
    margin: 25px 0 20px;    
}

#search_info i {    
    width: 20px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;                                 
    color: #0065FC;
    border: 1px #DEEBFF solid;
    border-radius: 45px;

}

#search_info p {    
    font-size: 14px;             
    padding: 0 0 5px 15px;
}

  /* ------------------------------------- Accommodation section ---------------------------------- */

#accommodation {
    width: auto;
    display: flex;
    justify-content: space-between;
    
}

#accommodation_main {       /* Main accommodation result */
    width: auto;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 20px 0 20px;
}

#accommodation_main h2 {        /*Title: Hébergement à Marseille*/
    padding: 20px 0 0 15px; 
}

.frame_row {    /* 1 row of 3 results*/
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    
}

.result {         /* block 1 result: pic + description */
    width: 246px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc; 
    margin: 0 10px;
    }

.accommodation_pic {    /* picture */
    width: 236px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    position: relative;
    left: 5px;
    top: 5px;
    object-fit: cover;
}

.result h3 {              /* --description*/
   margin-left: 15px;
   line-height: 0.7;
}
.result p {
    font-size: 12px;
    padding-left: 15px;
    line-height: 0.7;
}

.stars {                    /* --star classification */
    height: 12px;
    font-size: 12px;;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
}

#accommodation_main h4 {    /* --footer*/
    font-size: 14px;
    padding: 20px 0 0 15px;
   
}
  
#accommodation_side {      /* Side section Favourite accommodation */
    height: 624px;    
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
}

#side_title {           /*side title*/
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 10px 0 0;
}

#side_title h2 {
    padding-left: 10px;  
}

#side_frame {       /*Frame 1 column 3 results*/
    height: 520px;
    align-items: center;  
    margin: 30px 0;
}

.favourite {        /* block 1 result: pic + description */ 
    width: 300px;
    height: 144px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 20px #c4c7cc; 
    padding: 5px 44px 5px 5px;
    margin-bottom: 20px;
   
}

.fav_pic {            /*picture*/
    width: 138px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.fav_name {             /*description*/
    padding-left: 20px;
}

.favourite p {
    font-size: 12px;
}

.fav_stars {       /* --star classification */
    font-size: 12px;
    display: flex;
    padding-top: 35px;
}

       /* ------------------------------- Activities section --------------------------- */

#activities {
    width: auto;
    height: 534px;
    margin-top: 30px;
    
}   

.activities_frame {             /*Frame 4 columns*/
    display: flex;
    justify-content: space-between;

}

#activities h2 {          /*activities title*/
    padding: 0 0 20px 15px;   
}

.frame1, .dblFrame {                     /*4 Frames*/
    height: 447px;
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  
}

.frame1 {                   /*Frame 1 and 3: single activity */
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc;
  
}

.dblFrame div {             /*Frame 2 and 4: double activity */
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc;
   
}
.dblFrame_block1 {          /* --Frame 2 top block */
    height: 235px;  
}
.dblFrame_block2 {          /* --Frame 2 bottom block */
    height: 175px;
}

.dblFrame_block4 {           /* --Frame 4 top block */
    height: 195px;
}

.dblFrame_block5 {           /* --Frame 4 bottom block */
    height: 210px;
}

.activities_frame img {     /*activities pictures*/
    width: 302px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.activities_pic1 {                          
    height: 389px;  
}

.activities_pic2 {
    height: 174px;
}

.activities_pic3 {
    height: 118px;
}

.activities_pic4 {
    height: 138px;
}

.activities_pic5 {
    height: 154px;
}

.activities_frame h3 {
    padding-left: 15px;
}

  /*--------------------------------------------FOOTER----------------------------------------*/
footer {
    padding-left: 20px;
    background-color: #F2F2F2;
}

#bottom_links {                       /*Footer frame*/
    display: flex;
    align-items: flex-start;
    
}

#bottom_links h3 {                      /*Links header*/
    margin-bottom: 8px;
}

.links_frame {                          /*Lists frame*/
    width: 452px;
    display: flex;
    flex-direction: column;  
}

.links_frame ul {                       /*Links list*/
    text-align: left;
    padding-left: 0px;
    margin-top: 0px;
    line-height: 32px;
}

/* ------responsive ------*/
/*mobiles portrait*/
@media screen and (max-width: 414px) {
    
    a#top #logo {
        margin-top: 0;
    }

    .subscription {    /*ok*/
        align-self: flex-end;
    }

    nav {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        left: 0;
    }

    #top_nav {     /*comprend 2 li*/
        width: 100%;
        padding: 0;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    #top_nav li {
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
    }
    
    #top_nav li:hover {
        border-top: none;
        
    }
    #top_nav li:active {
        border-bottom: 2px #0065FC solid;
    }
    
    
        
       
}

/*tablets*/
/*@media screen and (min-width: 768px max-width: 1200px) {

}*/