body {
    font-family: Arial, verdana, sans-serif;
    padding:10px 10px auto 10px;
}

.margeInterieure{
    padding:0px 10px 10px 10px;
   
}

h2 {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    line-height: 0,7rem;
}

h3 {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

h4 {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}

/*HEADER*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
     margin: 16px 34px 16px 34px;
     font-size: 14px; 
}

.ancres {
    color: black;
}

.inscription {
    color:  #0065FC;
    font-weight: bold;

}

/*MAIN*/

/*SECTION RECHERCHE*/


.intro {
    display: flex;
    flex-direction: column;  
    font-size: 14px;  
}

.intro p {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    line-height: 0,5rem;
}

form {
    border: 2px black solid;
    min-height: 50px;
}

#filtres {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0px 0px 0px 0px;;
    border: 2px black solid;
}


.recherche li {
    margin: 0PX 65px 0px 0px;
} 

.infoComplementaire {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}